@font-face {
    font-family: "envy";
    src: url('../fonts/envy_code_r.eot');
    src: url('../fonts/envy_code_r.eot?#iefix') format('embedded-opentype'),
         url('../fonts/envy_code_r.woff2') format('woff2'),
         url('../fonts/envy_code_r.woff') format('woff'),
         url('../fonts/envy_code_r.ttf') format('truetype'),
         url('../fonts/envy_code_r.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "envy";
    font-size: 14px;
    letter-spacing: .3px;
    background-color: #151515;
    color: #eeeeee;
}
a {
    color: #35abbb;
    text-decoration: none;
}
a:active,
a:hover,
a:focus {
    text-decoration: none;
    color: #a0ac6b;
    background: transparent;
}
#quote {
    color: #3e3c3a;
}
.panel {
    background-color: transparent;
}
.panel-default {
    border-color: transparent;
}
.panel-body {
    padding: 0px;
}
.panellist > li > a {
    text-decoration: none;
    color: #5a7588;
}
hr {
    margin-top: 3px;
    margin-bottom: 1px;
    border-top: solid 1px #3e3c3a;
}
.rootcontent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.rootcontent > pre {
    background-color: #151515;
    border-color: #151515;
    font-size: 16px;
    color: #e6e3c6;
}
.rootcontent > pre > a {
    text-decoration: none;
    color: #e6e3c6;
}
.rootcontent > p.menu > a {
    color: #e6e3c6;
    background-color: #151515;
    padding: 5px;
    text-decoration: none;
}
.rootcontent > pre > a:hover,
a:active,
a:focus {
    color: #1dc189;
    text-decoration: none;
}
.content > h4 {
    color: #4f5090;
    text-transform: uppercase;
}
.content > a {
    color: #35abbb;
    text-decoration: none;
}
.content > p > a {
    color: #35abbb;
    text-decoration: none;
}
.content > p > a:hover,
a:active,
a:focus {
    color: #a0ac6b;
    text-decoration: none;
}
.content > ul > li > a {
    color: #35abbb;
    text-decoration: none;
}
.content > ul > li > a:hover {
    color: #a0ac6b;
    text-decoration: none;
}
ul {
    list-style: none;
}
code {
    color: #e6e3c6;
    background-color: #151515;
    padding: 5px 4px 2px 4px;
    border-radius: 0px;
    font-family: envy;
    font-size: 13px;
}
pre {
    /*max-width: 70%;*/
    color: #e6e3c6;
    background-color: #212121;
    font-family: envy;
    font-size: 13px;
    border-radius: 5px;
    border-color: #3e3c3a;
    border-width: 1px;
    border-style: solid;
}
blockquote {
    font-size: 1em;
    border: 1px solid #3e3c3a;
    border-radius: 5px;
    background-color: #111111;
    max-width: 90%;
    margin-left: 5%;
    color: #eeeeee;
}
blockquote > h5 {
    color: #4f5090;
    text-transform: uppercase;
}
blockquote:hover > p {
    color: #1dc189 !important;
    text-decoration: none;
}
.nav > li > a {
    color: #eeeeee;
}
.nav > li > a:hover,
a:active,
a:focus {
    background-color: transparent;
}
footer {
    border-top: solid #3e3c3a 1px;
    padding-top: 10px;
}
