---
title: index
layout: root
---

<pre>
// pyratebeard
// <a href='/log'>*nix wizard</a>, <a href='http://git.pyratebeard.net'>coder</a>, <a href='https://www.stashmycomics.com/publicview.asp?username=pyratebeard' target='_blank' rel='noopener noreferrer'>geek</a>
// root [at] pyratebeard [dot] net
// <a href='/pgp.pub' target='_blank' rel='noopener noerferrer'>C787 7C71 5113 A16D</a>
</pre>

<script type='text/javascript'>
  var quoteList = [
    "got rum?",
    "powered by coffee",
    "*nix engineer",
  ];

  var quoteDiv = document.getElementById('quote');

  window.onload = function() {
    randomNum = Math.ceil((Math.random() * quoteList.length-1));
    newQuote = quoteList[randomNum];
    quoteDiv.innerHTML = newQuote;
  }
</script>
