---
title: log
layout: default
---

{% for post in site.posts limit:10 %}
  <a href="{{ site.baseurl }}{{ post.url }}">
  <blockquote>
    <h5>{{ post.title }}</h5>
    <p>Posted:&nbsp;&nbsp;{{ post.date | date: "%Y-%m-%d" }}</p>
    <p>{{ post.description }}</p>
  </blockquote>
  </a>
{% endfor %}

<div class="post-footer">
  <div class="column-full">
    <p><a href="{{ '/archive.html' | prepend: site.baseurl | prepend: site.url }}">Log archive</a></p>
  </div>
</div>
