{% extends 'framework.html' %}
{% block content %}
<div class="content">
    <div class="col-md-13">
      <div class="col-md-11">
        <p>Melksham Comic Con is a not-for-profit organisation, started in 2013 between a group of comic geek friends.  Our convention was created to try and bring our passion to others, a convention for the fans, by the fans.</p>
        <p>I have helped organise and work the convention every year.  After the first year I took on the website responsibilities as my primary duty.  Now I am a Director on the Board and the Technical Officer.</p>
        <p>Now in our fifth year we are bringing you the biggest convention yet!  Find us in Melksham, Wiltshire UK on 27th - 28th August 2016.  For more information check out the links on the right, or email <a href='mailto:tech@melkshamcomiccon.com'>me</a> at the convention.</p>
      </div>
      <div class='col-md-1 text-right'>
        <p><a href='http://melkshamcomiccon.com' target='_blank'><i class='fa fa-3x fa-external-link' style='font-size: 36px;'></i></a></p>
        <p><a href='https://twitter.com/melksham_con' target='_blank'><i class='fa fa-3x fa-twitter-square'></i></a></p>
        <p><a href='https://facebook.com/melkshamcomiccon' target='_blank'><i class='fa fa-3x fa-facebook-square'></i></a></p>
        <p><a href='https://instagram.com/melkshamcomiccon' target='_blank'><i class='fa fa-3x fa-instagram'></i></a></p>
        <p><a href='https://www.youtube.com/channel/UCn1_GqfmmqREzfLRJ4Oj-qw' target='_blank'><i class='fa fa-3x fa-youtube-square'></i></a></p>
      </div>
    </div>
</div>
{% endblock %}