{% extends 'framework.html' %}

{% block content %}

<p>Melksham Comic Con is a not-for-profit organisation, started in 2013 between a group of comic geek friends.  Our convention was created to try and bring our passion to others, a convention for the fans, by the fans.</p>
<p>I have helped organise and work the convention every year.  After the first year I took on the website responsibilities as my primary duty.  Now I am a Director on the Board and the Technical Officer.</p>
<p>Now in our fifth year we are bringing you the biggest convention yet!  Find us in Melksham, Wiltshire UK in August 2017.  For more information check out the links on the right, or email <a href='mailto:tech@melkshamcomiccon.com'>me</a> at the convention.</p>

{% endblock %}

{% block sidebar %}
<ul class="nav">
  <li><a href="http://melkshamcomiccon.com" target="_blank" rel="noopener noreferrer">WEBSITE</a></li>
  <li><a href="https://facebook.com/melkshamcomiccon" target="_blank" rel="noopener noreferrer">FACEBOOK</a></li>
  <li><a href="https://twitter.com/melksham_con" target="_blank" rel="noopener noreferrer">TWITTER</a></li>
  <li><a href="https://instagram.com/melkshamcomiccon" target="_blank" rel="noopener noreferrer">INSTAGRAM</a></li>
  <li><a href="https://www.youtube.com/channel/UCn1_GqfmmqREzfLRJ4Oj-qw" target="_blank" rel="noopener noreferrer">YOUTUBE</a></li>
</ul>
{% endblock %}