{% extends 'framework.html' %}
{% block content %}
<div class="content">
    <div class="col-md-13">
        <p>I'm Dudley, a Linux engineer currently based in London, UK.</p>
        <br>
        <p>I sometimes write a <a href="/blog/">blog</a> about code or tech that I'm working on.</p>
        <p>In my spare time I help organise and run a small comic convention in Wiltshire, <a href="/mcc/">Melksham Comic Con</a>.  We are now planning for our sixth consecutive year.</p>
        <p>As a long time heavy metal fan and a close friend of "The Gentleman of Metal" from the <a href="/powerzone/">Powerzone</a> radio show, I am extremely lucky to be able to interview muscians to be aired on the show. So far I have recorded 8 interviews, including bands such as Sabaton, Ensiferum, and Korpiklaani.</p>
        <br>
        <p>Usually found lurking on:</p>
        <p>irc.freenode.net/##linux</p>
        <p>irc.nixers.net/#unix</p>
        <br>
        <p>GPG Key ID: <a href="http://pgp.key-server.io/0x195F3DBDC7E6A7CB">0xC7E6A7CB</a></p>
        <p>PG Key Fingerprint: 0580 FEF8 7B00 C456 5305 0DBA 195F 3DBD C7E6 A7CB</p>
    </div>
</div>
{% endblock %}