{% extends 'framework.html' %}
{% block content %}
<p>[root@pyratebeard.net ~]# cat readme.txt</p>
<p>--------- readme.txt----------</p>
<p>I'm Dudley, a Linux engineer currently based in Dublin, Ireland.</p>
<br>
<p>I sometimes write a <a href="/log">log</a> about code or tech that I'm working on.</p>
<p>In my spare time I help organise and run a small comic convention in Wiltshire, <a href="/mcc">Melksham Comic Con</a>.  We are now planning for our sixth consecutive year.</p>
<p>As a long time heavy metal fan and a close friend of "The Gentleman of Metal" from the <a href="/powerzone">Powerzone</a> radio show, I am extremely lucky to be able to interview muscians to be aired on the show. So far I have recorded interviews with bands including Sabaton, Ensiferum, and Korpiklaani.</p>
<br>
<p>Usually found lurking on:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;irc.freenode.net/##linux</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;irc.nixers.net/#unix</p>
<br>
<!-- <p>GPG Key ID: <a href="http://pgp.key-server.io/0x195F3DBDC7E6A7CB" target="_blank" rel="noopener noreferrer">0xC7E6A7CB</a></p>
<p>GPG Key Fingerprint: 0580 FEF8 7B00 C456 5305 0DBA 195F 3DBD C7E6 A7CB</p> -->
<p>PGP Key Fingerprint: <a href="https://keybase.io/pyratebeard/pgp_keys.asc" target="_blank" rel="noopener noerferrer">7A8E 129D BE67 9DAB AEB3 37C5 C787 7C71 5113 A16D</a></p>
<pre style="max-width:100%">curl https://keybase.io/pyratebeard/pgp_keys.asc | gpg --import</pre>
<p>or find me at <a href="https://keybase.io/pyratebeard" target="_blank" rel="noopener noreferrer">keybase.io/pyratebeard</a></p>
<p>------------------------------</p>
<p>[root@pyratebeard.net ~]# █</p>
<br>
{% endblock %}

{% block sidebar %}

<p>tweets by @pyratebeard</p>

{% endblock %}
