@font-face {
    font-family: "bebas";
    src: url("../fonts/BebasNeue.woff2") format("woff2");
}
@font-face {
    font-family: "envy";
    src: url("../fonts/Envy Code R.woff2") format("woff2");
}
body {
  font-family: "bebas";
  font-size: 14px;
  color: #d9d9d9;
  background-image: url("/static/img/bg/ocean.jpg");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}
.panel {
    background-color: rgba(0,0,0,0.7);
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
    color: #d9d9d9;
    font-family: "bebas";
}
a {
    color: #d9d9d9;
    text-decoration: none;
}
a:active,
a:hover {
    text-decoration: none;
    color: #64b2db;
}
nav {
    font-size: 2em;
}
.navbar {
    border-top: solid;
    border-top-color: #d9d9d9;
    border-top-width: 1px;
    border-bottom: solid;
    border-bottom-color: #d9d9d9;
    border-bottom-width: 1px;
}
.navbar-right {
    padding-top: 5px;
    padding-left: 11px;
    margin-right: 10px;
}
.nav > li:before {
    content: none;
}
.nav > li > a:hover {
    background: transparent;
}
.icon-bar {
    background: #d9d9d9;
}
pre code {
    color: #d9d9d9;
    background-color: transparent;
}
.container {
    max-width: 1132px;
    min-height: 500px;
    width: inherit;
    padding-top: 11px;
}
.content {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "envy";
}
p {
    font-size: 1.3em;
}
p > a {
    color: #64b2db;
}
ul {
    list-style: none;
}
footer {
    border-top: solid;
    border-top-color: #d9d9d9;
    border-top-width: 1px;
    font-size: 2em;
    font-family: "envy";
}