@font-face {
    font-family: "bebas";
    src: url("../fonts/BebasNeue.woff2") format("woff2");
}
@font-face {
    font-family: "envy";
    src: url("../fonts/Envy Code R.woff2") format("woff2");
}
body {
  font-family: "envy";
  font-size: 14px;
  color: #d9d9d9;
  background-image: url("/static/img/bg/ocean_fade.jpg");
  background-repeat: no-repeat;
  background-color: #151515;
}
.panel {
    background-color: transparent;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
    color: #d9d9d9;
    font-family: "bebas";
}
h6 {
    color: #d9d9d9;
    font-family: "envy";
    font-weight: bold;
}
a {
    text-decoration: none;
}
a:active,
a:hover {
    text-decoration: none;
    color: #64b2db;
}
nav {
    font-size: 2em;
    font-family: "bebas"
}
.nav > a {
    color: #d9d9d9;
}
.nav > li:before {
    content: none;
}
.nav > li > a {
    color: #d9d9d9;
}
.nav > li > a:hover {
    background: transparent;
    color: #64b2db;
}
.navbar {
    border-bottom: solid;
    border-bottom-color: #d9d9d9;
    border-bottom-width: 1px;
}
.navbar-right {
    padding-top: 5px;
    padding-left: 11px;
    margin-right: 10px;
}
.icon-bar {
    background: #d9d9d9;
}
pre, code {
    color: #d9d9d9;
    background-color: #0b0b0b;
    font-family: monospace, monospace;
}
.container {
    max-width: 1132px;
    min-height: 500px;
    width: inherit;
    padding-top: 11px;
}
.content {
    padding-left: 20px;
    padding-right: 20px;
}
p > a {
    color: #64b2db;
}
ul {
    list-style: none;
}
.sidebar > li > a {
    color: #d9d9d9;
}
.sidebar > li > a:hover {
    color: #64b2db;
}
table {
    width: 100%;
}
tr {
    border-bottom: solid 1px #0b0b0b;
}
td {
    padding: 10px;
}
td > p {
    margin: 0 0 0px;
}
footer {
    border-top: solid;
    border-top-color: #d9d9d9;
    border-top-width: 1px;
    font-family: "envy";
}
.footer > a {
    color: #d9d9d9;
}