@font-face {
    font-family: "envy";
    src: url('fonts/envy_code_r.eot');
    src: local('monospace'), url('../fonts/envy_code_r.woff2') format('woff2'), url('../fonts/envy_code_r.woff') format('woff'), url('../fonts/envy_code_r.ttf') format('truetype'), url('../fonts/envy_code_r.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "bebas";
    src: url("../fonts/BebasNeue.woff2") format("woff2");
}
body {
    font-family: "envy";
    font-size: 1.3em;
    background-color: #010101;
    color: #cceeff;
    background-image: url("/static/img/bg/wires_fade_dark.jpg");
    background-repeat: no-repeat;
}
a {
    color: #cceeff;
}
a:active,
a:hover {
    text-decoration: none;
    color: #55ddff;
}
.top {
    min-height: 50px;
}
.nav > li > a:hover {
    background: transparent;
}
.navbar-toggle {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.icon-bar {
    background-color: #cceeff;
}
.panel {
    border: solid 2px #cceeff;
    border-radius: 0px;
    background-color: #020608;
}
.panel-default > .panel-heading {
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom: solid 1px #cceeff;
    background-color: #020608;
    color: #cceeff;
}
.panel > .content {
    background-color: #cceeff;
    color: #020608;
}
hr {
    margin-top: 3px;
    margin-bottom: 1px;
    border-top: solid 1px #cceeff;
}
.content > p > a {
    color: #55ddff;
}
.content > p > a:hover,
a:active,
a:focus {
    color: #020608;
    background: #55ddff;
}
ul {
    list-style: none;
}
.sidebar > li > a {
    color: #55ddff;
}
.sidebar > li > a:hover,
a:active,
a:focus {
    color: #020608;
    background: #55ddff;
}
.guide {
    max-width: 100%;
}
.guide > p > a {
    color: #55ddff;
}
.guide > p > a:hover,
a:active,
a:focus {
    color: #020608;
    background: #55ddff;
}
code {
    color: #020608;
    background-color: #cceeff;
}
pre {
    max-width: 60%;
    color: #cceeff;
    background-color: #010101;
    font-family: envy; 
}
blockquote {
    font-size: 1em;
    border-left: 2px solid #55ddff;
    background-color: #222222;
    max-width: 90%;
    margin-left: 5%;
}
blockquote > p > a,
a:active,
a:hover {
    color: #55ddff;
}