<p>The first distro I ever installed was OpenSUSE, many years ago.  At the time I didn't really understand what the different distros meant and so I just installed from a free disk I received with a magazine.<p>
<p>I quickly started playing around with a number of other distros. Ubunutu had just started making waves, I also tried Fedora and Debian.  Quickly I realised there was no "right" distro and it was all about choice.  Fedora was the distro I ended up using for a number of years... until the introduction of Gnome3 and the GnomeShell.  Straight away this wasn't for me, so I sought out alternative Desktop Environments.  It was also at this opportunity that I decided to give Arch a try.  Even in the few short years I had used Linux I knew for certain this was the OS for me and therefore I wanted to know more about it.</p>
<p>Arch is not recommended for absolute beginners, but if you want to improve your understanding of how the OS works it is a good distro to play around with.  Things may (will) break, but that is all part of the fun!</p>
<br>
<p>This guide details the steps I take to quickly run up an Arch install.  Security is always something I consider and therefore I encrypt my root filesystem.  A lot of the steps details below are taken straight out of the
<a href="https://wiki.archlinux.org/index.php/Installation_guide" target="_blank" rel="noopener noreferrer">official install guide</a>, and are not intended to replace the information on the <a href="https://wiki.archlinux.org" target="_blank" rel="noopener noreferrer">Arch wiki</a>.</p>
<br>
<p>Pre-reqs:</p>
     <ul class="sidebar">
          <li>- You should be comfortable with using Linux command line as there is no GUI for this installation</li>
          <li>- I use vi for editing the files in this guide. Feel free to use nano if you prefer</li>
          <li>- Grab the latest <a href="https://www.archlinux.org/downloads" target="_blank" rel="noopener noreferrer">Arch ISO</a></li>
          <li>- Internet connection</li>
     </ul>
<br>
<p>The Guide</p>
<div class="container" style="width: 100%;">
<div class="guide">
     <p>Boot from ISO and select "Boot Arch Linux (x86_64)"</p>
     <p>After the ISO has loaded you will presented with a prompt</p>
     <pre>root@archiso ~ #</pre>
     <p>The first thing I tend to do is load the keymap for my UK keyboard.  This is an optional step, but will help if you use certain characters when setting passwords (#, @, /, \, etc)</p>
     <p>First show a list of all available QWERTY keymaps, then load the desired map</p>
     <pre>ls -1 /usr/share/kbd/keymaps/i386/qwerty/
loadkeys uk</pre>
     <p>The next step is to ensure you have a working internet connection.  While this step is also optional I will be using an internet connection later on</p>
     <pre>systemctl start dhcpcd
ip a
ping -c 3 archlinux.org</pre>
     <p>It is advised to enable ntp (Network Time Protocol) to ensure the system clock is accurate</p>
     <pre>timedatectl set-ntp true
timedatectl status</pre>
     <p>I am only using one disk in this guide.  Be careful when there are multiple disks attached to you system, make sure you specify the correct device, e.g. sda</p>
     <pre>lsblk</pre>
     <p>As mentioned security is pretty important. Before we continue we will write lots of random data to the disk so that it is completely wiped clean.  This may take a while, so grab a brew!</p>
     <pre>dd if=/dev/urandom of=/dev/sda bs=1M</pre>
     <p>Once that is completed we need to create the partition table. We are only going to create two partitions, one for the boot partition and one for the rest of the disk.  Later on we will use LVM (<a href="https://en.wikipedia.org/wiki/Logical_Volume_Manager_%28Linux%29" target="_blank" rel="noopener noreferrer">Logical Volume Manager</a>) to break the disk down further</p>
     <pre>gdisk /dev/sda
Command (? for help):
p (should be empty)
n
1
[return]
+512M
(L to view list)
ef02
n
2
[return]
[return]
8e00 (Linux LVM)
p
w
y</pre>          
     <p>Make sure the device now shows the two partitions, sda1 and sda2</p>
     <pre>lsblk</pre>
     <p>Format /boot partition</p>
     <pre>mkfs.ext3 /dev/sda1</pre>
     <p>Before we set up LVM on the second partition we need to encrypt it.  We will be using LUKS (Linux Unified Key Setup)</p>
     <p>First make sure the module is loaded</p>
     <pre>modprobe dm-crypt</pre>
     <p>The encryption setup is fairly standed. We are using "aes-xts-plain64" cipher for LUKS. We'll include the <code>-y</code> option to verify the passphrase (by asking twice) and we set the key size to 512 bits (this argument must be a multiple of 8)</p>
     <pre>cryptsetup -c aes-xts-plain64 -y -s 512 luksFormat /dev/sda2
YES
(enter passphrase twice)</pre>
     <p>Now we open the encrypted partition under <code>/dev/mapper/lvm</code>.  Then add it as a physical volume and create volume group on the whole partition</p>
     <pre>cryptsetup luksOpen /dev/sda2 lvm
(enter passphrase)
pvcreate /dev/mapper/lvm
pvs
vgcreate vg_arch /dev/mapper/lvm
vgs</pre>
     <p>For my logical volumes I have based the sizes based on various best practice rules that I have picked up over the years.  This is by no means a strict rule but it is advised to split up <code>/boot</code>, <code>/var</code>, and <code>/home</code>.  We will also create some <a href="http://www.linuxjournal.com/article/10678" target="_blank" rel="noopener noreferrer">swap space</a>.  In this example I am using a 64GB disk</p>
     <ul>
          <li>/boot = 512MB</li>
          <li>/var  = 10GB</li>
          <li>swap  = 8GB</li>
          <li>/     = 20GB</li>
          <li>/home = 25.49GB</li>
     </ul>
     <p>Create the logical volumes, create filesystems on each volume and ensure the swap space is active</p>
     <pre>lvcreate -L 20GB -n lv_root vg_arch
lvcreate -L 10GB -n lv_var vg_arch
lvcreate -L 8GB -n lv_swap vg_arch
lvcreate -l +100%FREE -n lv_home vg_arch
lvs
mkfs.ext4 /dev/mapper/vg_arch-lv_root
mkfs.ext4 /dev/mapper/vg_arch-lv_var
mkfs.ext4 /dev/mapper/vg_arch-lv_home
mkswap /dev/mapper/vg_arch-lv_swap
swapon /dev/mapper/vg_arch-lv_swap</pre>
     <p>We are going to mount the root filesystem under <code>/mnt</code> then create a few directories for the other voluems</p>
     <pre>mount /dev/mapper/vg_arch-lv_root /mnt
mkdir /mnt/boot /mnt/var /mnt/home
mount /dev/sda1 /mnt/boot
mount /dev/mapper/vg_arch-lv_var /mnt/var
mount /dev/mapper/vg_arch-lv_home /mnt/home
df -ah</pre>
     <p>Before we install Arch we need to configure the mirrorlist.  As I am currently in the UK I will generate a relevant mirrorlist.  This is where an internet connection comes in useful.  We will use the Arch <a href="https://www.archlinux.org/mirrorlist" target="_blank" rel="noopener noreferrer">mirrorlist generator</a> and <code>wget</code> to pull it onto our system.  By default the lines are all commented out so we'll use <code>sed</code> to uncomment the correct lines.  Then we will switch the current mirrorlist with our new one, it is good practice to always make backup copies of configuration files before replacing or modifying them</p>
     <pre>wget -O mirrorlist "https://www.archlinux.org/mirrorlist/?country=GB&protocol=http&protocol=https&ip_version=4&use_mirror_status=on"
cat mirrorlist
sed -i 's/^#S/S/g' mirrorlist
mv /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.bak
mv mirrorlist /etc/pacman.d/mirrorlist</pre>
     <p>Now we can install the base Arch packages</p>
     <pre>pacstrap /mnt base base-devel</pre>
     <p>Generate fstab, setting the <code>-U</code> option to use UUIDs.  The <code>-p</code> excludes pseudofs mounts</p>
<pre>genfstab -p -U /mnt > /mnt/etc/fstab
cat /mnt/etc/fstab</pre>
     <p>To configure the rest of the system we're going to use <a href="https://en.wikipedia.org/wiki/Chroot" target="_blank" rel="noopener noreferrer">chroot</a> to change the root directory.  This makes it easier to configure</p>
     <pre>arch-chroot /mnt</pre>
     <p>You will notice that the prompt has now changed</p>
     <pre>[root@archiso /]# </pre>
     <p>Set a symbolic link to the timezone file for your city, in this case London</p>
     <pre>ln -s /usr/share/zoneinfo/Europe/London /etc/localtime</pre>
     <p>Set up the locale settings, in this case we are using en_GB</p>
     <pre>vi /etc/locale.gen</pre>
     <p>Remove the # at start of the "en_GB.UTF-8 UTF-8" line</p>
     <p>Save and quit</p>
     <pre>locale-gen
echo LANG=en_GB.UTF-8 > /etc/locale.conf
export LANG=en_GB.UTF-8</pre>
     <p>We need to set the keymap so that is sets on boot</p>
     <pre>echo 'KEYMAP="gb"' > /etc/vconsole.conf</pre>
     <p>Pick a hostname that is relevant, or clever, or funny</p>
     <pre>echo gibson > /etc/hostname
vi /etc/hosts</pre>
     <p>Navigate to line beginning with "127.0.0.1" and append your hostname to the end</p>
     <p>Save and quit</p>
     <p>Ensure dhcpcd is enabled on boot</p>
     <pre>systemctl enable dhcpcd</pre>
     <p>Next we need to install and configure the <a href="https://en.wikipedia.org/wiki/GNU_GRUB">GRUB</a> bootloader</p>
     <pre>pacman -S grub
y
grub-install --target=i386-pc /dev/sda
vi /etc/default/grub</pre>
     <p>Navigate to line GRUB_CMDLINE_LINUX=""</p>
     <p>Change to</p>
     <pre>GRUB_CMDLINE_LINUX="cryptdevice=/dev/sda2:vg_arch-lv_root"</pre>
     <p>Save and quit</p>
     <pre>grub-mkconfig -o /boot/grub/grub.cfg
vi /etc/mkinitcpio.conf</pre>
     <p>Navigate to the following line</p>
     <pre>HOOKS="base udev autodetect modconf block filesystems keyboard fsck"</pre>
     <p>Add in the hooks "encrypt" and "lvm2" after "block"</p>
     <pre>HOOKS="base udev autodetect modconf block encrypt lvm2 filesystems keyboard fsck"</pre>
     <p>Now we regenerate the ramdisk</p>
     <pre>mkinitcpio -p linux</pre>
     <p>Finally we can set the root password and create ourselves a standard user account - it is not advisable to run as root</p>
     <pre>passwd
(no visual output - don't worry!)
vi /etc/sudoers</pre>
     <p>Navigate to the following line and remove the # at the start</p>
     <pre># %wheel  ALL=(ALL) PASSWD: ALL</pre>
     <p>Save and quit - you may need to force write with <code>:wq!</code> as the file is read only</p>
     <p>Add a standard user, create a "users" group for the user and also add them into the "wheel" group so that they can run the <code>sudo</code> command. Don't forget to set a strong password!</p>
     <pre>useradd -m -g users -G wheel -s /bin/bash pyratebeard
passwd pyratebeard
exit</pre>
     <p>That's it, all done. We have exited back to the ISO and you should see the prompt change.  All that is left is to unmount the system and reboot</p>
umount /mnt/home /mnt/var /mnt/boot
umount /mnt
reboot</pre>
     <p>Remove the ISO media and the system should boot off your new Arch Linux install</p>
     <p>Enter the encryption passphrase we set when prompted</p>
     <p>Login as your user account</p>
</div>
</div>
<br>
<p>Congratulations, you've successfully installed Arch Linux with an encrypted root filesystem.  I will be doing another blog soon which details how I set up my system, including the Window Manager, various applications I use</p>
