{% extends 'framework.html' %}
{% block content %}
{% block logcontent %}
{% endblock %}
{% endblock %}

{% block sidebar %}

<p>CATEGORIES</p>
{% if categories %}
  <ul class="sidebar">
      {% for category in categories %}
      <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
      {% endfor %}
  </ul>
  {% else %}
  <p>There are currently no categories</p>
{% endif %}

<p>RECENT POSTS</p>
{% if recent_posts %}
  <ul class="sidebar">
      {% for post in recent_posts %}
      <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
      {% endfor %}
  </ul>
  {% else %}
  <p>Nothing has been posted yet</p>
{% endif %}

{% endblock %}