{% extends 'framework.html' %}
{% block content %}
<div class="row content">
    <div class="col-md-13">
      <div class='col-md-11'>
        <p>Powerzone is the only metal radio show of its kind in the UK!  Playing the most brutal metal on British airwaves, you won't find another show like it.</p>
        <p>As a long time friend of the host Dani "The Gentleman of Metal", and occasional guest, I was asked if I would like to help out by interviewing bands when they visit London.  How could I say no?!  Known as "The Beard" on air, I have started gathering contacts in the music industry and interviewing artists.  I'm always happy for feedback so please get in touch and let me know what you think!</p>
        <p>Below you will find the interviews in full, after they have been played on the show.  Powerzone is aired on <a href='http://calonfm.com' target='_blank' style='text-decoration:none;'>CalonFM</a> every Monday from 21:00 UTC.</p>
        <br>
        <p>Thanks to Matt from <a href='http://www.podpro.online' target='_blank'>PodPro</a> for post-production assistance.</p>
      </div>
      <div class='col-md-1 text-right'>
        <a href='https://twitter.com/powerzonemetal' target='_blank'><i class='fa fa-3x fa-twitter-square'></i></a>
        <a href='https://facebook.com/powerzonemetal' target='_blank'><i class='fa fa-3x fa-facebook-square'></i></a>
      </div>
    </div>
</div>
  <div class="content" id='interviews'>
    <hr>
    <h3>The Interviews</h3>
      <iframe id='tobias' width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/246124894&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p>
      <p>
      <iframe id='rage' width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/252245862&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p>
      <p>
      <iframe id='ensiferum' width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/257419504&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p>
      <p>
      <iframe id='alestorm' width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/257420519&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p>
      <p>
      <iframe id='bloodbound' width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/257427940&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p>
      <p>
      <iframe id='sabaton1' width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/257429232&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p>
      <p>
      <iframe id='korpiklaani' width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/264222759&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p>
      <p>
      <iframe id='moonsorrow' width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/264222987&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p>
      <p>
      <iframe id='sabaton2' width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/272623606&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p></p>
      <p></p>
  </div>
</div>
{% endblock %}