{% extends 'framework.html' %}

{% block content %}
<p>Powerzone is the only metal radio show of its kind in the UK!  Playing the most brutal metal on British airwaves, you won't find another show like it.</p>
<p>As a long time friend of the host Dani "The Gentleman of Metal", and occasional guest, I was asked if I would like to help out by interviewing bands when they visit London.  How could I say no?!  Known as "The Beard" on air, I have started gathering contacts in the music industry and interviewing artists.  I'm always happy for feedback so please get in touch and let me know what you think!</p>
<p>Below you will find the interviews in full, after they have been played on the show.  Powerzone is aired on <a href='http://calonfm.com' target="_blank" rel="noopener noreferrer">CalonFM</a> every Monday from 21:00 UTC.</p>
<br>
<p>You can check out all my interviews on <a href="https://soundcloud.com/pyratebeard" target="_blank" rel="noopener noreferrer">SoundCloud</a>.</p>
<p>Thanks to Matt from <a href='http://www.podpro.online' target="_blank" rel="noopener noreferrer">PodPro</a> for post-production assistance.</p>
{% endblock %}

{% block sidebar %}

<ul class="nav">
  <li><a href="http://calonfm.com" target="_blank" rel="noopener noreferrer">CALON_FM</a></li>
  <li><a href="https://twitter.com/powerzonemetal" target="_blank" rel="noopener noreferrer">TWITTER</a></li>
  <li><a href="https://facebook.com/powerzonemetal" target="_blank" rel="noopener noreferrer">FACEBOOK</a></li>
  <li><a href="https://soundcloud.com/pyratebeard" target="_blank" rel="noopener noreferrer">INTERVIEWS</a></li>
</ul>

{% endblock %}