<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>pyratebeard.net</title>
  <meta http-equiv='X-UA-Compatible' content='IE-edge'/>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, inital-scale=1'>
  <meta name='description' content='nautical nonsense'>
  <meta name='keywords' content='pyratebeard, pyrate, pirate, beard, linux, gnu/linux, hack, code, programmer, netsec, geek, geeky, devops, comics, comic book, coffee, cold brew'>
  <meta name='author' content='pyratebeard'>
  <!-- add twitter meta -->
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-cyborg.css' %}">
</head>
<body>

</body>
</html>